<h2>お気に入り一覧</h2>

<% @favorite_pictures.each do |favorite_picture| %>


<table>

<tr>
  <th>タイトル</th>
  <th>内容</th>
</tr>

  <tr>
    <td><%= favorite_picture.title %></td>
    <td><%= favorite_picture.content %></td>
    <td><%= image_tag favorite_picture.image.url %></td>
  </tr>

  </table>
  <% end %>